## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../World_Weather_Analysis/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,83.30,44,51,5.01,broken clouds
1,1,Buala,SB,-8.1450,159.5921,79.97,82,9,6.76,light rain
2,2,Okha,RU,53.5739,142.9478,35.13,98,100,14.00,overcast clouds
3,3,Olafsvik,IS,64.8945,-23.7142,47.53,87,99,6.24,overcast clouds
4,4,Butaritari,KI,3.0707,172.7902,81.88,74,8,7.72,clear sky

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 25
What is the maximum temperature you would like for your trip? 60

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Okha,RU,53.5739,142.9478,35.13,98,100,14.00,overcast clouds
3,3,Olafsvik,IS,64.8945,-23.7142,47.53,87,99,6.24,overcast clouds
8,8,Mataura,NZ,-46.1927,168.8643,42.55,90,95,2.46,overcast clouds
9,9,Kaeo,NZ,-35.1000,173.7833,58.32,96,100,20.13,light rain
11,11,Punta Arenas,CL,-53.1500,-70.9167,37.51,87,0,13.22,clear sky
...,...,...,...,...,...,...,...,...,...,...
652,652,Ilulissat,GL,69.2167,-51.1000,39.22,87,52,4.61,broken clouds
654,654,Borogontsy,RU,62.6683,131.1683,53.08,48,100,3.06,overcast clouds
664,664,Aksha,RU,50.2814,113.2867,58.96,51,100,2.62,overcast clouds
668,668,General Pico,AR,-35.6566,-63.7568,49.75,51,100,10.51,overcast clouds
679,679,Ballina,AU,-28.8667,153.5667,49.95,90,11,7.45,few clouds

In [20]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Okha,RU,53.5739,142.9478,35.13,98,100,14.00,overcast clouds
3,3,Olafsvik,IS,64.8945,-23.7142,47.53,87,99,6.24,overcast clouds
8,8,Mataura,NZ,-46.1927,168.8643,42.55,90,95,2.46,overcast clouds
9,9,Kaeo,NZ,-35.1000,173.7833,58.32,96,100,20.13,light rain
11,11,Punta Arenas,CL,-53.1500,-70.9167,37.51,87,0,13.22,clear sky
...,...,...,...,...,...,...,...,...,...,...
652,652,Ilulissat,GL,69.2167,-51.1000,39.22,87,52,4.61,broken clouds
654,654,Borogontsy,RU,62.6683,131.1683,53.08,48,100,3.06,overcast clouds
664,664,Aksha,RU,50.2814,113.2867,58.96,51,100,2.62,overcast clouds
668,668,General Pico,AR,-35.6566,-63.7568,49.75,51,100,10.51,overcast clouds
679,679,Ballina,AU,-28.8667,153.5667,49.95,90,11,7.45,few clouds

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Okha,RU,35.13,overcast clouds,53.5739,142.9478,
3,Olafsvik,IS,47.53,overcast clouds,64.8945,-23.7142,
8,Mataura,NZ,42.55,overcast clouds,-46.1927,168.8643,
9,Kaeo,NZ,58.32,light rain,-35.1000,173.7833,
11,Punta Arenas,CL,37.51,clear sky,-53.1500,-70.9167,
...,...,...,...,...,...,...,...
652,Ilulissat,GL,39.22,broken clouds,69.2167,-51.1000,
654,Borogontsy,RU,53.08,overcast clouds,62.6683,131.1683,
664,Aksha,RU,58.96,overcast clouds,50.2814,113.2867,
668,General Pico,AR,49.75,overcast clouds,-35.6566,-63.7568,
679,Ballina,AU,49.95,few clouds,-28.8667,153.5667,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Okha,RU,35.13,overcast clouds,53.5739,142.9478,Империя
3,Olafsvik,IS,47.53,overcast clouds,64.8945,-23.7142,Hotel Olafsvik
8,Mataura,NZ,42.55,overcast clouds,-46.1927,168.8643,Ellie's Villa
9,Kaeo,NZ,58.32,light rain,-35.1000,173.7833,Bushido Lodge
11,Punta Arenas,CL,37.51,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho
...,...,...,...,...,...,...,...
639,Fujin,CN,54.07,clear sky,47.2600,132.0322,Xilong Hotel Fujin Shop
651,Tawang,IN,55.98,overcast clouds,27.5833,91.8667,Hotel Mount View
652,Ilulissat,GL,39.22,broken clouds,69.2167,-51.1000,Hotel Arctic
668,General Pico,AR,49.75,overcast clouds,-35.6566,-63.7568,Hotel Malargue
679,Ballina,AU,49.95,few clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))